html    
    head
        title #{data.translations[0].title}
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')  
        style 
           include emails.css
    body(bgcolor="#f6f8f1")    
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr(class="header-button",align="right")
                            td 
                                a(class="site-link", href=data.siteUrl) #{data.siteAccess}                  
                        tr
                            td(class="header") 
                                table(width="70",align="left",border="0",cellpadding="0",cellspacing="0")
                                    tr
                                        td(height=70,style="padding: 0 20px 20px 0;")
                                            img(src=data.logo,width="70",height="70",border="0",alt="")/
                                <!--[if (gte mso 9)|(IE)]>
                                table(width="425", align="left", cellpadding="0", cellspacing="0", border="0")
                                    tr
                                        td
                                        <![endif]-->
                                            table(class="col425",align="left",border="0",cellpadding="0",cellspacing="0",style="width: 100%; max-width: 425px;")
                                                tr
                                                    td(height="70") 
                                                        table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                                            tr
                                                                td(class="title", style="padding: 0 0 0 3px;") #{data.translations[0].title}
                                                            tr
                                                                td(class="subtitle") #{data.translations[0].subtitle}
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content content-header", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr(class="image-background", background=data.backgroundHeader)
                            td(class="header-image-content")
                                table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                    tr
                                        td(class="bodycopy") !{data.translations[0].header}     
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content content-main", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr(class="image-background", background=data.backgroundContent)
                            td(class="header-image-content")
                                table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                    tr
                                        td(class="bodycopy") !{data.translations[0].content}
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content", align="center", cellpadding="0", cellspacing="0",border="0")                
                        tr
                            td(class="footer borderbottom") 
                                table(width="250",align="left",border="0",cellpadding="0",cellspacing="0")
                                    tr
                                        td(, height=50,style="padding: 0 20px 20px 20px;", align="center")
                                            img(class="icon", src=data.footer[0].icon,width="50",height="50",border="0",alt="")/
                                            p(class="phone") #{data.footer[0].value}
                                <!--[if (gte mso 9)|(IE)]>
                                table(width="224", align="left", cellpadding="0", cellspacing="0", border="0")
                                    tr
                                        td
                                        <![endif]-->
                                            table(class="col245",align="left",border="0",cellpadding="0",cellspacing="0",style="width: 100%; max-width: 245px;")
                                                tr
                                                    td(height="50") 
                                                        table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                                            tr
                                                                td(height=50,style="padding: 0 20px 0px 20px;", align="center")
                                                                    img(class="icon",src=data.footer[1].icon,width="50",height="50",border="0",alt="")/
                                                                    each val in data.footer[1].value.split(";")
                                                                        p(class="address") #{val}                                                                         
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr
                            td(class="footer")
                                table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                    tr
                                        td(class="social",align="center")
                                            each val,index in data.social
                                                a(class="icon-social-link",href=data.social[index].value)
                                                    img(class="icon-social",src=data.social[index].icon,width="40",height="40",border="0",alt="")/
