html    
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')        
        style 
           include emails.css

    body    
        div(class="header") !{header}  
        h1 Confirmacion de cuenta de correo
        p Confirma tu cuenta de correo clickando en el link siguiente
        a(href=validationLink) Link
        div(class="footer") !{footer}  
