html    
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')  
        style 
           include emails.css
    body(bgcolor="#f6f8f1")    
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr(class="header-button",align="right")
                            td 
                                a(class="site-link", href=siteUrl) #{siteAccess}                  
                        tr
                            td(class="header") 
                                table(width="70",align="left",border="0",cellpadding="0",cellspacing="0")
                                    tr
                                        td(height=70,style="padding: 0 20px 20px 0;")
                                            img(src=header.image,width="70",height="70",border="0",alt="")/
                                <!--[if (gte mso 9)|(IE)]>
                                table(width="425", align="left", cellpadding="0", cellspacing="0", border="0")
                                    tr
                                        td
                                        <![endif]-->
                                            table(class="col425",align="left",border="0",cellpadding="0",cellspacing="0",style="width: 100%; max-width: 425px;")
                                                tr
                                                    td(height="70") 
                                                        table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                                            tr
                                                                td(class="subhead", style="padding: 0 0 0 3px;") #{header.translations[0].title}
                                                            tr
                                                                td(class="h1") #{header.translations[0].description}
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr(class="header-image-background", background=header.backgroundImage)
                            td(class="header-image-content")
                                table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                    tr
                                        td(class="bodycopy") !{header.translations[0].content}     
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content content-main", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr
                            td(class="header-image-content")
                                table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                    tr
                                        td(class="bodycopy") !{content}
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content", align="center", cellpadding="0", cellspacing="0",border="0")                
                        tr
                            td(class="footer borderbottom") 
                                table(width="250",align="left",border="0",cellpadding="0",cellspacing="0")
                                    tr
                                        td(, height=50,style="padding: 0 20px 20px 20px;", align="center")
                                            img(class="icon", src=icons.phone,width="50",height="50",border="0",alt="")/
                                            p(class="phone") #{phone}
                                <!--[if (gte mso 9)|(IE)]>
                                table(width="224", align="left", cellpadding="0", cellspacing="0", border="0")
                                    tr
                                        td
                                        <![endif]-->
                                            table(class="col245",align="left",border="0",cellpadding="0",cellspacing="0",style="width: 100%; max-width: 245px;")
                                                tr
                                                    td(height="50") 
                                                        table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                                            tr
                                                                td(height=50,style="padding: 0 20px 0px 20px;", align="center")
                                                                    img(class="icon",src=icons.address,width="50",height="50",border="0",alt="")/
                                                                    each val in address
                                                                        p(class="address") #{val}                                                                         
        <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0",border="0")
            tr
                td
                <![endif]-->
                    table(class="content", align="center", cellpadding="0", cellspacing="0",border="0") 
                        tr
                            td(class="footer")
                                table(width="100%",border="0",cellspacing="0",cellpadding="0")
                                    tr
                                        td(class="social",align="center")
                                            each val,index in socialLinks
                                                a(href=val)
                                                    img(class="icon-social",src=icons[index],width="40",height="40",border="0",alt="")/



<!--
        div(class="header") !{header}  
        h1 Confirmation de compte email 
        p Validez votre compte email en clickant sur le lien suivant
        a(href=validationLink) Link
        div(class="footer") !{footer}  -->
